body {
  background-color: rgb(250, 189, 76);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

h1 {
  text-transform: uppercase;
  font-size: 50px;
  margin-bottom: 0;
}

h2 {
  font-size: small;
  font-weight: lighter;
  font-style: italic;
  margin: 30px auto;
}

.key-area {
  background-color: tomato;
  width: 300px;
  margin: 50px auto;
  height: 215px;
}

.key {
  display: inline-block;
  box-shadow: 2px 5px;
  width: 30px;
  background-color: white;
  color: rgb(0, 0, 46);
  height: 200px;
}

.sharp {
  display: inline-block;
  background-color: rgb(0, 0, 46);
  color: white;
  width: 25px;
  height: 100px;
  position: absolute;
  margin-left: -15px;
}

.key-letter {
  margin-top: 170px;
}

.key-sharp-letter {
  margin-top: 65px;
}

.lyric-area {
  background-color: rgb(249, 83, 53);
  width: 60%;
  margin: 50px auto;
  padding: 30px auto;
}

.lyric-boxes {
  display: inline-block;
}

.lyrics {
  background-color: white;
  padding: 15px 20px;
}

.notes {
  color: white;
}

.button {
  background-color: orange;
  padding: 2px;
  width: 50%;
  margin: 0 auto;
  border-radius: 15px;
}
