/* Universal */

body {
  background-color: black;
  color: seashell;
  font-size: 22px;
  opacity: 0.9;
  font-family: Arial, Helvetica, sans-serif;
  width: 1000px;
}

/* Nav Bar */

header {
  display: flex;
  height: 69px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid seashell;
}

ul {
  display: inline-flex;
  justify-content: end;
}

li {
  margin: 0 25px;
  list-style-type: none;
  text-decoration: underline;
}

/* content  */

.content {
  display: inline-flex;
  flex-direction: column;
}

/* mission area  */

.mission-area {
  background-image: url(./img/img-mission-background.jpg);
  height: 700px;
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mission-text {
  text-align: center;
  background-color: black;
}

/* tea area  */

.tea-area {
  margin-top: 80px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.tea-image-space {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tea-image-area {
  margin: 10px;
}

.tea-image {
  width: 300px;
  height: 200px;
}

p {
  margin: 10px auto 20px;
}

/* last */

.last {
  background-image: url(./img/img-locations-background.webp);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 500px;
}

.last-title {
  margin-top: 50px;
}

.boxes {
  display: flex;
  justify-content: center;
}

.box {
  background-color: black;
  width: 300px;
  padding: 50px auto;
  text-align: center;
  margin: 0 20px;
}

footer {
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.copyright {
  width: 100%;
  font-size: 15px;
  margin-left: 10px;
}
